.Top-Menu {
  position: fixed; top: 0%; left: 0%; right: 0%; height: 10%; background-color: black; color: white;
}
.Main {
  position: fixed; top: 10; left: 0%; right: 0%; height: 100%; background-color: white; color: black;
}
